<app-header></app-header>


<section class="wellcome_area clearfix" id="home">
  <div class="container h-80">
      <div class="row h-80 align-items-center">
          <div class="col-12 col-md">
            
            <div class="wellcome-heading">
              

                
                <br>  <br><br><br><br> <br>  <br><br><br><br> <br>  
                <button  style="margin-top: 20px;"class="button button4 col-md-6 col-lg-6" (click)="sample1()">Sample 1</button>
            <p style="margin-top: 25px; padding-left: 10px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sample Website Where No Endorsement is &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Required</p>
                <button style="margin-top: 60px;" class="button button4 col-md-6 col-lg-6" (click)="sample2()">Sample 2</button>
<P style="margin-top: 75px; padding-left: 10px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sample Website Where Atleast 2 Endorsements &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;are Required</P>